body{
  color:black;
  background-size: auto;
  transition: background-color 1.5s, color 1.5s;
  margin: 0;
  padding: 0;
}
.container{
  background: linear-gradient(147.84deg, rgba(255, 255, 255, 0.24) 0.89%, rgba(255, 255, 255, 0) 97.74%);
  box-shadow: inset 0px 5px 4px rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(40px);
  border-radius: 30px;

}
.step{
  padding: 30px;
  width: 800px;
  position: relative;
  left: 250px;
}
input:focus{
  outline: none;
}
